:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Oswald", sans-serif !important;
  background: #fff;
  color: var(--mainDark) !important;
  box-sizing: border-box;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.textBright {
  color: var(--lightBlue);
}

.calculator-wrap {
  width: 40% !important;
  min-width: 300px !important;
  margin: 3rem auto;
}
.btn-cell {
  border: 2px solid #fff;
  padding: 1rem;
  text-align: center;
  background: var(--mainWhite);
  cursor: pointer;
}
.btn-cell:hover {
  background: #ccc;
}
.display {
  padding: 0.5rem;
  border: 2px solid skyblue;
  text-align: end;
}
button {
  margin: 2rem 0 !important;
}
.equal-op {
  background: lightblue;
}
